
  
  <div class="midPage">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="leftDivision">
            <div class="left-content">
              <h4>Shop From Here!</h4>
              <button type="button" class="btn btn-success" (click)="showProducts()" style="margin-right: 10px;;">Go to Products</button>
              <button type="button" class="btn btn-success" (click)="loginAdmin()">Log In As Admin</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="rightDivision">
            <img src="assets\images\Farmers market-pana.png" alt="Your Image" class="img-fluid" height="200">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

